*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /*background-color: black;*/
}

.container {
    width: 100%;
    position: relative;
color: blue;
    
    
}

.bg_img {
    width: 100%;
    height: auto;
    position: absolute;
    
    
    

}

.bg_black_1{
    margin-top: 78px;
    width: 100%;
    height: 772px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding-top: 20px;
    
    
    
}

.bg_black_2{
    margin-top: 850px;
    width: 100%;
    height: 276px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.header {
    width: 100%;
    height: 78px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    
      
}

.nflogo{
    width: 170px;
    height: 45px;
    margin: 29px 0 0 56px;
    cursor: pointer;
    
}

.sign_up{
    width: 450px;
    height: 650px;
    padding: 55px 70px 50px 70px;
    margin: 0 auto;
    border: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
}
h2{
    color: white;
    font-size: 32px;
    
}
.inp_1{
    width: 310px;
    height: 50px;
    margin-top: 26px;
    background: rgba(51,51,51,255);
    border-radius: 4px;
    outline: none;
    border: none;
    color:white;
    padding: 16px 12px;
    font-size: 18px;
    
}

.inp_2{
    width: 310px;
    height: 50px;
    margin-top: 12px;
    background: rgba(51,51,51,255);
    border-radius: 4px;
    outline: none;
    border: none;
    color:white;
    padding: 16px 12px;
    font-size: 18px;

}
::placeholder{
    font-size: 15px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: rgb(141, 132, 132);
}
.signin_btn{
    margin-top: 40px;
    width: 310px;
    height: 50px;
    background: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    cursor: pointer;

}

.remember{
    margin-top: 10px;
}
#chbox{
    width: 15px;
    height: 15px;
}
#chbox:checked{
    color: black;
}

.remb{
    
    color: white;
    font-size: 14px;
    font-weight: normal;
}
#help{
    float: right;
    cursor: pointer;
}
#help:hover{
    text-decoration: underline;
}

.bottom{
    margin-top: 60px;
}
#fb_icon{
    width: 20px;
    height: 20px;

}
#fb_login{
    color: grey;
    font-size: 14px;
    font-weight: normal;
}
h5{
    color: grey;
    font-weight: normal;
    font-size: 17px;
    
}
#signupnow{
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#signupnow:hover{
    text-decoration: underline;
}
p{
    color: grey;
    font-size: 14px;
    font-weight: normal;
}
a{
    text-decoration: none;
    font-size: 14px;
    line-height: 3px;
    color: blue;
}
a:hover{
    text-decoration: underline;
}

li{
    color: #757575;
    margin-left: 100px;
    position: relative;
}
ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}



@media screen and (max-width: 740px) {
    .bg_img{
        display: none;
    }
    .container{
        background-color: black;
    }
    .bg_black_1{
        background-color: black;
    }
    .header{
        background-color: black;
    }
    .nflogo{
        margin: 29px 0 0 20px;
    }
    .sign_up{
        width: 740px;
        padding: 10px 35px 10px 35px;
        background-color: blue;
    }
    .inp_1{
        width: 670px;
    }
    .inp_2{
        width: 670px;
    }
    .signin_btn{
        width: 670px;
    }
    .remember{
        width: 670px;
    }
    .bg_black_2{
        background-color: black;
    }
    
}

@media screen and (max-width: 701px) {
    .nflogo{
        width: 80px;
        height: 20px;
        margin: 20px 0 0 20px;
    }
    .header{
        height: 50px;
    }
    .bg_black_1{
        margin-top: 50px;
    }
    .bg_black_2{
        margin-top: 822px;
    }
    .sign_up{
        width: 700px;
    }
    .inp_1{
        width: 630px;
    }
    .inp_2{
        width: 630px;
    }
    .signin_btn{
        width: 630px;
    }
    .remember{
        width: 630px;
    }
    
}

    
